@import "../common/Styles.scss";

.buttonWrapper {
    margin-top: $spacing-average;
    justify-content: center;
    display: flex;
}

.addPriceRange {
    font-size: $font-size-miniscule;
    @include vertical-center-div();
}

.priceRangeToggle:focus {
    outline: none;
}

.hideWishlist {
    text-align: center;
    color: $color-blue;
    font-weight: bold;
    margin-top: $spacing-small
}


.iconWrapper {
    @include vertical-center-div();
}


.priceRangeToggle:hover {
    cursor: pointer;
    @include hover-bold-blue();
}

.priceRangeToggle {
    text-align: center;
    display: flex;
    justify-content: center;
}

.smallWidth {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}