@import "../common/Styles.scss";

.groupName {
    font-size: $font-size-large;
    text-align: center;
    font-weight: bold;
}


.detailWrapper {
    text-align: center;
    justify-content: center;
    font-size: $font-size-large;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.detailWrapperStatuses {
    text-align: center;
    justify-content: center;
    font-size: $font-size-large;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
}

.detailWrapperStatusesDeadline {
    text-align: center;
    justify-content: center;
    font-size: $font-size-large;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $spacing-small;
    width: fit-content;
    display: flex;
}

.editDateIcon {
    margin-left: $spacing-tiny;
    @include vertical-center-div();
    cursor: pointer;
}

.editDateIcon:focus {
    outline: none;
}

.key {
    font-weight: bold;
    color: $color-dark-green;
    margin-right: $spacing-tiny;
    font-size: $font-size-medium;
    @include vertical-center-div();
}

.addressKey {
    font-weight: bold;
    color: $color-dark-green;
    margin-right: $spacing-tiny;
    font-size: $font-size-medium;
    @include vertical-center-div();
    text-align: center;
}

.value, .valueCode {
    font-weight: bold;
    margin-bottom: $spacing-small;
}

.valueCode {
    word-break: break-all;
}

.wishlistButtons, .giftRestrictionButtons {
    display: flex;
    justify-content: center;
}

.wishlistRow {
    display: flex;
}

.wishlistEdit {
    cursor: pointer;
}

.wishlistEdit:focus {
    outline: none;
}

.spinner {
    text-align: center;
}

.smallWidth {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.wishlistEdit {
    margin-left: auto;
    margin-right: $spacing-small;
}

.participants {
    padding: $spacing-small;
    display: flex;
    justify-content: center;
    font-size: $font-size-medium;
    border-bottom: 1px solid $color-separator;
    margin-left: $spacing-average;
    margin-right: $spacing-average;
    padding-bottom: $spacing-tiny;
    position: relative;
}

.groupPartialInfoWrapper {
    display: flex;
    padding-left: $spacing-tiny;
    padding-right: $spacing-tiny;
}

.faceIcon {
    margin-right: $spacing-tiny;
    @include vertical-center-div();
}

.participantName {
    @include vertical-center-div();
    font-weight: bold;
}

.addToWishlistIconWrapper {
    text-align: center;
    justify-content: center;
    margin-top: $spacing-small;
    display: flex;
    @include vertical-center-div();
}

.removeFromWishlistIconWrapper {
    text-align: center;
    justify-content: center;
    display: flex;
    @include vertical-center-div();
}

.addWishlistIcon, .addGiftRestrictionIcon {
    margin-right: $spacing-tiny;
    cursor: pointer;
}

.removeWishlistIcon, .removeGiftRestrictionIcon {
    margin-left: $spacing-tiny;
    cursor: pointer;
}

.waitForPairingsStatus {
    color: $color-blue;
    text-align: center;
    font-size: $font-size-medium;
}

.copyTextButton {
    margin-top: $spacing-small;
    text-align: center;
}

.joinGroup {
    font-weight: bold;
    text-align: center;
    color: $color-green;
    margin-bottom: $spacing-small;
}

.joinWrapper {
    padding: $spacing-average;
}

.joinGroupButton {
    text-align: center;
}

.copyTextMessage {
    font-weight: bold;
    font-size: $font-size-small;
    color: $color-gray;
    text-align: center;
}

.copyTextInvisible {
    visibility: hidden;
}

.inviteWrapper {
    text-align: center;
}

.inviteMessage {
    text-align: center;
    font-weight: bold;
    color: $color-green;
}

.joinGroupMessage {
    text-align: center;
    font-weight: bold;
    color: $color-blue;
}

.addWishlistText, .removeWishlistText {
    color: $color-blue;
}

.addToWishlistIconWrapper:hover, .removeFromWishlistIconWrapper:hover {
    cursor: pointer;
    @include hover-bold-blue();
}

.addToWishlistIconWrapper:focus, .removeFromWishlistIconWrapper:focus {
    outline: none;
}

.wishlistWrapper {
    margin-top: $spacing-small;
    padding-bottom: $spacing-tiny;
}

.wishlistHeader {
    font-weight: bold;
    color: $color-dark-green;
    font-size: $font-size-medium;
    @include vertical-center-div();
}

.wishlistBulletPoints {
    color: $color-blue;
}

.noWishlistText {
    text-align: center;
    font-weight: bold;
    color: $color-blue;
    margin-left: $spacing-small;
    margin-right: $spacing-small;
}

.groupInfo {
    cursor: pointer;
    right: $spacing-tiny;
    position: absolute
}

.mySecretSantaTarget {
    font-weight: bold;
    text-align: center;
    font-size: $font-size-large;
    color: $color-red;
}

.confirmMessage {
    text-align: center;
    font-weight: bold;
}

.buttonWrapper {
    justify-content: center;
    display: flex;
    text-align: center;
}

.scrollYConfirm {
    max-height: 300px;
    overflow-y: scroll;
}

.confirmDeleteMessage {
    text-align: center;
    font-weight: bold;
    padding-bottom: $spacing-small;
}

.addAddressText {
    font-weight: bold;
    color: $color-dark-green;
    margin-right: $spacing-tiny;
    font-size: $font-size-medium;
    @include vertical-center-div();
}

.addAddressWrapper {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.addAddressWrapper:focus {
    outline: none;
}

.addressWrapper {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.deleteWrapper:focus {
    outline: none;
}

.deleteWrapper  {
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.viewAddressMessage {
    font-size: $font-size-miniscule;
}

.priceRangeToggle:hover {
    cursor: pointer;
    @include hover-bold-blue();
}

.priceRangeToggle {
    text-align: center;
    display: flex;
    justify-content: center;
}

.iconWrapper {
    @include vertical-center-div();
}

.sliderWrapper {
    padding-top: $spacing-small;
}

.priceRangeToggle:focus {
    outline: none;
}

.addPriceRange {
    font-size: $font-size-miniscule;
    @include vertical-center-div();
}

.wishlistButton {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

@media only screen and (max-width: 800px) {
    .waitForPairingsStatus {
       max-height: 300px;
       overflow-y: scroll;
    }

    .groupPartialInfoWrapper {
        flex-direction: column;
    }

    .wishlistButton {
        width: 60%;
    }
}