@import "../common/Styles.scss";

.groupName {
    font-size: $font-size-large;
    text-align: center;
    font-weight: bold;
}


.detailWrapper {
    text-align: center;
    justify-content: center;
    font-size: $font-size-large;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.detailWrapperStatuses {
    text-align: center;
    justify-content: center;
    font-size: $font-size-large;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
}

.key {
    font-weight: bold;
    color: $color-dark-green;
    margin-right: $spacing-tiny;
    font-size: $font-size-medium;
    @include vertical-center-div();
}

.value {
    font-weight: bold;
    margin-bottom: $spacing-small;
}

.wishlistButtons, .giftRestrictionButtons {
    display: flex;
    justify-content: center;
}

.participants {
    padding: $spacing-small;
    display: flex;
    justify-content: center;
    font-size: $font-size-medium;
    border-bottom: 1px solid $color-separator;
    margin-left: $spacing-average;
    margin-right: $spacing-average;
    padding-bottom: $spacing-tiny;
}

.faceIcon {
    margin-right: $spacing-tiny;
}

.addToWishlistIconWrapper {
    text-align: center;
    justify-content: center;
    margin-top: $spacing-small;
    display: flex;
    @include vertical-center-div();
}

.removeFromWishlistIconWrapper {
    text-align: center;
    justify-content: center;
    display: flex;
    @include vertical-center-div();
}

.addWishlistIcon {
    margin-right: $spacing-tiny;
    cursor: pointer;
}

.manageGiftRestrictions {
    cursor: pointer;
}

.removeWishlistIcon {
    margin-left: $spacing-tiny;
    cursor: pointer;
}

.waitForPairingsStatus {
    color: $color-blue;
    text-align: center;
    font-size: $font-size-medium;
}

.addWishlistText, .removeWishlistText {
    color: $color-blue;
}

.addToWishlistIconWrapper:hover, .removeFromWishlistIconWrapper:hover {
    cursor: pointer;
    @include hover-bold-blue();
}

.addToWishlistIconWrapper:focus, .removeFromWishlistIconWrapper:focus {
    outline: none;
}

.wishlistWrapper {
    margin-top: $spacing-small;
    padding-bottom: $spacing-tiny;
}

.wishlistHeader {
    font-weight: bold;
    color: $color-dark-green;
    font-size: $font-size-medium;
    @include vertical-center-div();
}

.wishlistBulletPoints {
    color: $color-blue;
}

.noWishlistText {
    text-align: center;
    font-weight: bold;
    color: $color-blue;
}