@import "../../common//Styles.scss";

.linkAccountsWrapper{
  justify-content: center;
  flex-grow: 1;
}

.clickGoogle, .clickFacebook, .clickPhone {
  cursor: pointer;
}

.clickGoogle:hover {
  background-color: $color-light-red-hover;
}

.clickPhone:hover {
  background-color: $color-light-green-hover;
}


.clickFacebook:hover{
  background-color: $color-light-blue-hover
}

.googleLinkWrapper, .facebookLinkWrapper{
  padding: $spacing-average;
  display: flex;
  justify-content: center;
  .googleLinkMessage, .facebookLinkMessage, .phoneLinkMessage {
    @include vertical-center-div();
    margin-right: $spacing-medium;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    color: $color-blue;
    outline: 0px;      
  }
  .googleLinkImage, .facebookLinkImage, .phoneLinkImage {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }  
}

.googleImage, .facebookImage, .phoneImage {
  height: $spacing-massive;
  width: $spacing-massive;
}

@media only screen and (max-width: 800px) {
  .googleLinkWrapper, .facebookLinkWrapper {
    margin: 0px;
    margin-top: $spacing-medium;
    margin-left: $spacing-average;
    margin-right: $spacing-average;
  }
}