@import "./common/Styles.scss";

.app{
  background-color: $color-light-gray;

  .appContainer{
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    background-image: url('Christmas.jpg');
    height: 5000px
  }
}

.loadingWrapper {
  margin-top: $spacing-gigantic;
  text-align: center;
}

.loadingMessage {
  color: $color-green;
  font-weight: bold;
}

.fennellTag {
  font-size: $font-size-small;
}

.setYourNameMessage {
  color: $color-red;
  font-weight: bold;
  text-align: center;
}

.setDisplayName {
  text-align: center;
}